<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1buJLoPxL2fneAyh3D_pF23YUq7mlt-E</string>
	<key>GCM_SENDER_ID</key>
	<string>348975823657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>momuflix.aitek.cloud</string>
	<key>PROJECT_ID</key>
	<string>momuflix-zso87k</string>
	<key>STORAGE_BUCKET</key>
	<string>momuflix-zso87k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348975823657:ios:46a08c69026dd097e01538</string>
	<key>DATABASE_URL</key>
	<string>https://momuflix-zso87k-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>